<style>
	.modal-header {
		border: 5px;
	}

	.modal-body {
		padding: 0;
	}

	.modal-footer {
		border-top: none;
	}

	.img_container  img {
		display: inline;
		margin: 0px;
		width: 100%;
	}

	.bootstrap-dialog-footer-buttons {
		padding: 15px;
	}

	.img_container {
		padding: 0px;
	}
</style>

<div class="row" style="clear:both; max-width: 95%; display: block; margin: 0 auto">

	<div class="col-md-12">
		<div class="panel-heading panel-top-offset"><%= html_icon("paperclip") %> 伍拾萬社會議題版</div>
		<div style="margin-top: 10px;"></div>
		<div id="some-content">
			<div id="wrapper">
				<div id="list" style="-webkit-column-count: 4;-moz-column-count: 4;column-count: 4;">
					<%= render 'common/sample' %>
				</div>
			</div>
		</div>
	</div>
</div>
