(function (window) {
    window.showDialog = function(title, subTitle, imgSrc, content) {

        var msg = [ '環境議題', '核廢料堆置蘭嶼爭議', '核能廢料貯存場危機重重-蘭嶼的大限?', '核四廠的不安全性，像是尚未引爆的原子彈，還有核廢料可能對人體與環境帶來的傷害，同樣不能忽視。目前台灣的高階核廢料分別存放在3座核電廠內，但還有一個地方，也擺放了約十萬桶的低階核廢料，就在蘭嶼。儘管在1996年後，就再也沒有廢料桶被運進來，可是埋在貯存場壕溝蓋底下的10萬桶核廢料，已經開始產生了變化。究竟30年來，核廢料在蘭嶼造成怎樣的衝擊？原子能委員會預期，蘭嶼可資利用為貯存場的面積為一百公頃左右，佔蘭嶼總面積的四十七分之一。大約將分為六期全部開發完畢，去年初已完工的第一期工程佔地面積二十四公頃，估計要貯存核廢料九萬八千一百一十三桶。據悉，由於受核廢料的輻射影響，蘭嶼的嬰兒已有普遍罹患腦膜炎的跡象，連前蘭嶼衛生所主任在去年逝世之前都曾受到輻射感染，黨外立委余陳月瑛就此事向行政院提出質詢時，行政院卻一概予以否認，而事實上又是如何呢？根據該貯存場簡陋而不安全的設施，以及核廢料大量而高度的放射性，行政院與各有關單位如果未經檢驗就貿然否認，實在很令人懷疑有存心隱瞞事實之嫌。這個貯存場開始使用初期的各項設施非常簡陋，作業也很草率，並曾發生數次意外，因此，行政院的否認很令人存疑，有關單位的輻射偵測報告可信度更有待審慎評估。其實核廢料這個議題在蘭嶼已經爭吵了30年之久，不過現在台電公司宣稱，在經過了4年的檢整作業之後，現在存放在這邊的核廢料桶已經是安全無虞的了！ 不過多數的蘭嶼居民他們還是不願意相信，他們認為埋藏在這個綠色壕溝蓋底下的核廢料桶，其實已經污染了他們的土地、污染了他們的農作物，甚至污染了這整片大海。',
        'http://setmoney.blob.core.windows.net/newsimages/2014/04/22/71877.jpg' ];


        var msgContent = '<div class="">' +
                            '<div class="img_container"><img src="' + msg[4] + '"></img></div>' + 
                            '<div  style="padding-left: 15px;"><h3>' +  msg[1] + '</h3></div>' + 
                            '<div  style="padding-left: 15px;"><h5>' + msg[2] + '</h5></div>'+ 
                            '<div  style="padding-left: 15px; padding-right: 15px;">' + 
                                '<div class="pull-left">' + 
                                '<span class="glyphicon glyphicon-user" style="margin-right:3px;"></span> <span style="margin-right:10px; ">JJ</span>' +
                                '<span class="glyphicon glyphicon-flag" style="margin-right:3px;"></span> <span style="margin-right:10px; ">八卦王</span>' +
                                '<span class="glyphicon glyphicon-tower" style="margin-right:3px;"></span> <span style="margin-right:10px; ">王八卦</span>' +
                                '</div>' + 
                                '<div class="pull-right">' + 
                                '<span class="glyphicon glyphicon-thumbs-up" style="margin-right:3px;"></span><span style="margin-right:10px; ">100</span>' + 
                                '<span class="glyphicon glyphicon-thumbs-down" style="margin-right:3px;"></span><span style="margin-right:10px; ">20</span>' + 
                                '<span class="glyphicon glyphicon-signal" style="margin-right:3px;"></span><span style="margin-right:10px;"><a class="statistic" style="cursor: pointer;">統計資訊</a></span>' + 
                                '<%= image_tag "laba01.png", style: "width: 20px" %><a class="money" style="cursor: pointer;">募資平台</a></span>' + 
                                '</div>' + 
                            '</div>' +
                            '<div class="pull-left" style="margin-top: 10px; padding-left: 15px; padding-right: 15px">' + msg[3]  + '</div>' +
                        '</div>'

        var dialogInstance = new BootstrapDialog({
            title: msg[1],
            message: msgContent,
            buttons: [{
                label: '<img style="width: 20px; height:20px;"  src="https://www.seeklogo.net/wp-content/uploads/2013/11/facebook-flat-vector-logo-400x400.png"></img>',
                action: function(dialog) {
                    dialogInstance.close()
                }
            }, {
                label: '<span class="glyphicon glyphicon-thumbs-up" style="margin-right:10px;"></span>認同',
                action: function(dialog) {
                    dialogInstance.close()
                }
            }, {
                label: '<span class="glyphicon glyphicon-thumbs-down" style="margin-right:10px;"></span>反對',
                action: function(dialog) {
                    dialogInstance.close()
                }
            }, {
                label: '<span class="glyphicon glyphicon-signal" style="margin-right:3px;"></span><span style="margin-right:10px;"><a class="statistic" style="cursor: pointer;">統計資訊</a></span>',
                action: function(dialog) {
                    
                }
            }, {
                label: '<%= image_tag "laba01.png", style: "width: 20px" %><a class="money" style="cursor: pointer;">募資平台</a></span>',
                action: function(dialog) {
                }
            }]
        });

        dialogInstance.open()

    }
}(window))