(function () {
            $(document).on('click', '.item', function (event) {
                    event.preventDefault();
                    showDialog();
            });

            
        $(document).on('click', '.statistic', function() {
             var dialogInstanceC = new BootstrapDialog({
                title: '統計資訊',
                message: '<div> <div class="dropdown">     <span style="font-size:large;">分析選項：</span>    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">贊成族群   <span class="caret"></span></button>    <ul class="dropdown-menu">        <li><a href="#">贊成族群</a></li>       <li><a href="#">反對族群</a></li>     </ul> </div></div>' + 
                        '<div class="static_contaier" style="min-height: 600px;">' + 
                        '<svg  width="600px" style="width: 100%; min-height: 600px;"></svg></div>' + 
                        '<div class="static_contaier2" style="min-height: 600px;">' + 
                        '<svg  width="600px" style="width: 100%; min-height: 600px;"></svg></div>' +
                        '<div><%= image_tag "taiwan.png", :style => "display:block; margin:auto;  max-width: 90%;" %></div>',
                onshown: function(dialogRef){
                    drawAllCart()
                }
            });
            dialogInstanceC.open();
        });



        $(document).on('click', '.money', function() {

            var moneyDialogContent = '<div><h1>這件事應該被更多人關注！</h1></div>' + 
                                    '<div><%= image_tag "laba02.png", :style => "display:block; margin:auto;  max-width: 90%;" %></div>' +
                                    '<div><h1>奉獻我的影響力以提升關注熱度</h1></div>' + 
                                    '<form class="form-inline">  <div class="form-group">    <label class="" for="exampleInputName2" style="font-size: large; margin-right: 160px;">我剩餘的影響力: 27</label>   <span> <input type="text" class="form-control pull-right" id="exampleInputName2" placeholder=""> </div> <button class="btn btn-primary glyphicon glyphicon-arrow-right"></button> </span></form>';

             var dialogInstanceC = new BootstrapDialog({
                title: '募資平台',
                message: moneyDialogContent,
                onshown: function(dialogRef){
                    drawPieChart('.static_contaier svg');
                }
            });
            dialogInstanceC.open();
        });

    })()