/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

$primary:	rgb(14,110,182);
$primary-light: rgba(14,110,182,0.5);
$primary-strong: rgba(14,110,182,0.8);

$light: rgb(134,182,218);
$light-light: rgba(134,182,218,0.5);
$light-strong: rgba(134,182,218, 0.8);

$dark: rgb(7,55,91);
$dark-light: 			rgba(7,55,91, 0.5);
$dark-strong:			rgba(7,55,91,0.8);

$pure: rgb(255,255,255);
$pure-light: rgba(255,255,255,0.5);
$pure-strong: rgba(255,255,255,0.8);

body {
	margin: 0;

	/* Common */
	.panel-top-offset { margin-top: 50px; }

	div.panel-heading {
		color: $pure;
		background-color: $primary-strong;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

		a {
			color: $pure-strong;
		}
		a:hover {
			color: $pure;
			text-decoration: none;
		}
	}

	div.unset-radius { border-radius: 0px; }
	div.unset-margin { margin: 0; }

	div.panel-heading:hover {
		background-color: $primary;
	}

	div.panel-body {
		border: 3px solid $light-light;
		border-top: 0px;
	}
	div.panel-body:hover {
	}

	/* Navbar */

	nav.navbar-custom {
		margin: 0;
		background-color: $primary-strong;
		padding: 0;
		color: $pure;
		border: none;

		a, .active {
			color: $pure;
		}

		a:hover {
			background-color: $dark;
		}

		ul {
			li { 
				display: inline;
				
				a, button {
					background-color: transparent;
					color: $pure-light;
					font-size: 110%;
				}

				a:hover, button:hover {
					color: $pure;
					text-decoration: none;
				}

				a:active {
					background-color: $dark;
				}
			}
			li a.dropdown:active {
				background-color: $primary-strong;
			}
			.dropdown {
				a, li {
					color: $pure-strong;
					background-color: $primary-strong;
				}
				a:hover, li:hover {
					color: $pure;
					background-color: $primary;
				}
			}

		}
	}

	nav.navbar-custom:hover {
		background-color: $primary;
	}


	/* Side Bar */
	#slide-1, #slide-2, #slide-3, #slide-4 {
		display: none;
	}


	/* Pinterest Like CSS */
		
		#list
		{
		    width: 100%;
		    overflow: hidden;
		    margin-bottom: -1.875em; /* 30px */
		    -webkit-column-count: 3;
		    -webkit-column-gap: 1.875em; /* 30px */
		    -webkit-column-fill: auto;
		    -moz-column-count: 3;
		    -moz-column-gap: 1.875em; /* 30px */
		    -moz-column-fill: auto;
		    column-count: 3;
		    column-gap: 1.875em; /* 30px */
		    column-fill: auto;
		}
		    .item
		    {
		        margin-bottom: 1.875em; /* 15px 30px */
		        -webkit-column-break-inside: avoid;
		        -moz-column-break-inside: avoid;
		        column-break-inside: avoid;
		        padding: 10px 5px;
		        border-radius: 5px;

		        p {
		        	margin: 5px 5px 0px 5px;
		        }
		    }
		 
		@media only screen and ( max-width: 40em ) /* 640px */
		{
		    #list
		    {
		        -webkit-column-count: 2;
		        -webkit-column-gap: 0.938em; /* 15px */
		        -moz-column-count: 2;
		        -moz-column-gap: 0.938em; /* 15px */
		        column-count: 2;
		        column-gap: 0.938em; /* 15px */
		    }
		        .item
		        {
		            margin-bottom: 0.938em; /* 15px */
		        }
		}
		@media only screen and ( max-width: 20em ) /* 320px */
		{
		    #list
		    {
		        -webkit-column-count: auto;
		        -moz-column-count: auto;
		        column-count: auto;
		    }
		}

		.item:hover {
		/*bgc*/			
		}


}